# Python
__pycache__/
*.py[cod]
.env
db.sqlite3
*.sqlite3
*.log
/media/

# Django
*.migrations/
staticfiles/

# Node
node_modules/
build/
.DS_Store

# React
.env.local
.env.development
.env.production